.checkout {
  display: flex;
  height: max-content;
  padding: 20px;
  background-color: white;
}

.checkout__iklan {
  width: 100%;
  margin-bottom: 11px;
}

.checkout__detail {
  border-bottom: 1px solid lightgray;
  padding: 9px;
  margin-right: 13px;
}

.checkout__detail h2 {
  color: #333;
}

.checkout__detail h4 {
  color: #888;
}

.checkout__detail h4 span {
  color: #222;
  font-weight: 800;
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
}

.checkout__kanan {
  margin-top: 1rem;
}
