.login {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: white;
  align-items: center;
}

.login__gambar {
  width: 110px;
  object-fit: contain;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}

.login__information {
  border: 1px solid #ccc;
  width: 310px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin-bottom: 15px;
}

.login__information h1 {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 1rem;
}

.login__information > form > label > h5 {
  margin-bottom: 4px;
}

.login__information > form > input {
  height: 25px;
  margin-bottom: 12px;
  width: 95%;
}

.login__information p {
  font-size: 12px;
  margin: 10px 0 10px 0;
}

.login__button {
  height: 28px;
  background: #ff9b00;
  color: #0a0a0a;
  border-color: #a88734 #846a28 #9c7e31;
  width: 97%;
  border-radius: 3px;
  margin-top: 5px;
}

.login__button:hover {
  background: #df8600;
  color: #000;
}

.notifikasi__daftar__sukses {
  border: 2px solid green;
  padding: 2px 10px;
  color: #0a0a0a;
  border-radius: 4px;
  background-color: rgba(0, 128, 0, 0.11);
  font-size: 14px;
}

.notifikasi__daftar__gagal {
  border: 2px solid red;
  color: #0a0a0a;
  padding: 2px 10px;
  border-radius: 4px;
  background-color: rgba(255, 0, 0, 0.11);
  font-size: 14px;
}
